.form-widget {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  overflow-y: auto;

  .form-widget-form {
    height: 100%;
    .widget-draggable {
      min-height: 100%;
      box-sizing: border-box;
      .drag-wrapper {
        padding-left: 10px;
        user-select: none;
      }
    }
    .ant-form-item {
      user-select: none;
    }
  }

  .loop-widget-draggable {
    padding: 5px;
    min-height: 60px;
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    border: 1px dashed #ccc;
    box-sizing: border-box;
    .drag-wrapper {
      flex: 1;
      margin: 5px;
    }
  }

  .grid-form-item-row {
    border: 1px dashed #ccc;
    padding: 10px;
    min-height: 60px;
    margin-bottom: 5px;
    .grid-form-item-col {
    }
  }
}
