.wrap-form-item {
  padding: 4px 10px 0;
  box-sizing: border-box;
  margin-bottom: 5px;
  border: 1px dashed transparent;
  position: relative;
  .anticon-drag  {
    position: absolute;
    top: 0;
    left: 0;
    color: #1890ff;
  }
  .wrap-form-item-icons {
    position: absolute;
    right: 8px;
    bottom: 0;
    font-size: 14px;
    .anticon {
      margin-left: 2px;
      cursor: pointer;
    }
    .anticon-copy {
      color: #1890ff;
    }
    .anticon-delete {
      color: #F56C6C;
    }
  }
}

.wrap-form-item--selected {
  border: 1px dashed #409eff;
}
