.drag-form-layout {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
  overflow-y: auto;

  .drag-form {
    height: 100%;
    .drag-items {
      min-height: 100%;
      box-sizing: border-box;
      .wrap-form-item {
        padding-left: 10px;
      }
    }
  }

  .loop-drag-items {
    min-height: 60px;
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    border: 1px dashed #ccc;
    padding-right: 10px;
    .wrap-form-item {
      flex: 1;
      .ant-form-item {
        margin-bottom: 0;
      }
      //.ant-form-item+.ant-form-item {
      //  margin-left: 15px;
      //}
    }
  }
}
