.form-create {
  height: 100%;
  .header {
    height: 60px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btns {
      .ant-btn {
        margin-right: 15px;
      }
    }
  }
  &>.ant-layout {
    height: calc(100% - 60px);
  }
  .ant-layout-content {
    padding: 20px;
  }
}