.layout {
  height: 100%;
  .ant-layout-sider {
    background: transparent;
    .ant-menu {
      height: 100%;
    }
  }

  .content {
    padding: 20px;
    &>.ant-layout-content {
      overflow-y: auto;
      background: #fff;
      padding: 20px;
    }
  }
}
